@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e6e6ff;
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", system-ui, sans-serif;
}

.animated-button {
    cursor: pointer;
    animation-duration: 45s;
}

.animated-arrow {
    cursor: pointer;
    animation-duration: 18s;
    animation-direction: reverse;
}