@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
    --bgc: #e6e6ff;
}

body {
    background-color: var(--bgc);
    width: 100%;
    overflow-x: hidden;
    font-family: "Poppins", system-ui, sans-serif;
}

.animated-button {
    cursor: pointer;
    animation-duration: 45s;
}

.animated-arrow {
    cursor: pointer;
    animation-duration: 18s;
    animation-direction: reverse;
}
.cutoff-container {
    --max-lines: 4;
    --line-height: 1.7;
}

.cutoff-container > p {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
    position: relative;
}

.cutoff-container > p::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: calc(2em * var(--line-height));
    width: 100%;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8));
    z-index: 10;
}

html.dark .cutoff-container > p::before {
    background: linear-gradient(to bottom, transparent, rgb(17,24,39, 0.8));
}